extends ../layout

block content
    .container
        .card.mb-5(style="width : min(24rem, 100%);")
            .card-header.h2 #{perfume.name}
            .card-body.p-2
                .h3.card-title #{perfume.brand.name}
                .h5.float-right #{perfume.category.name}
                p.card-text #{perfume.description}
                .row.mb-3.g-3
                    .col-6
                        a.btn.btn-warning.me-3(href=`${perfume.url}/edit`) Edit
                        a.btn.btn-danger(href=`${perfume.url}/delete`) Delete